<h1><%=@list.name%></h1>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<% @list.bookmarks.each do |bookmark|%>
  <h1>Movie Title:<%= bookmark.movie.title %></h1>
  <h2>Overview: <%= bookmark.movie.overview%></h2>
  <%= image_tag bookmark.movie.poster_url%>
  <h2>Rating: <%= bookmark.movie.rating%></h2>
<% end %>
<%= link_to "Add to bookmarks", new_list_bookmark_path(@list) %>
<%= link_to "Back to list", lists_path %>
<%= link_to "delete this list", list_path(@list), class: "btn btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
